
:root{
     --vermelho: #E50914; /* declarando variavel no css.*/
     --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* os elementos de dentro da caixa não forçaram a expansão da caixa com este set.*/
}

/* elementos base*/
body{
    background: var(--preta); /*usando a variavel preta declarada no root para setar a cor*/
    font-family: 'Arial', Times, serif;
     color: white;
     
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* cria um espaço entre a logo e a nav > a(inicio,serie.., justify-content sempre segue a direçao do flex direction)*/
}

header .logo {
    margin-left: 5px;
    color: rgb(255, 8, 0);
    font-family: 'Arial Black', Times;
    font-size: 40px; 
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{ /*ao passar o mouse,  o elemento muda de cor*/
    color: #fff;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/resources/img/cruella1080.jpg'); /*o efeito gradiente necessita de 2 no minimo*/

    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 5 px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{        /* espaço do icone com a informaçao do botao */
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}


.filme-principal .container{
    width: 70%;
}

.box-filme{
    height:122%;
    width: 100%;
    display: block;
}

.carrosel-filmes{ /*imagens dos filmes no carrosel*/
    margin-top: 5px;
}

